.abilityBar {
    flex-direction: row;
    padding-right: 10px;
}

.abilitySlot {
    width: 128px;
    height: 128px;
}

.abilityBar .abilitySlot {
    margin-left: 10px;
}

.testLabel {
    -unity-font-style: bold;
    font-size: 20px;
}
